.formControl.error input,
.formControl.error textarea{
	border: 3px dashed red;
}

.formControl.error span{
	font: cursive;
	font-weight: 700;
	color: rgb(235, 109, 109);
}

.formSummaryError {
	border: red 3px dotted;
	padding: 5px;
	color: rgb(159, 179, 231);
	font-weight: 700;
}
