.nav{
	grid-area: n;
	background-color: rgb(115, 22, 22);
	border-radius: 0 0 0 25px;
	
}
.item{
	font-family: fantasy;
	margin: 15px 15px 5px 15px;
	letter-spacing: 1px;
	font-size: 20px;
}
.item a{
	color: rgb(159, 199, 234);
}

a.activeclass{
	color: rgb(22, 163, 163);
	font-weight: 500;
}

