.app-wrapper{
	padding: 10px 150px;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
	"h h"
	"n c";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 17px;
	/* background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(64,253,29,1) 50%, rgba(252,176,69,1) 100%); */
	background-image: linear-gradient(red, yellow, green);
}

/* .header{
	grid-area: h;
}

.nav{
	grid-area: n;
}

.content{
	grid-area: c;
} */